<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="utf-8" />
  <title>Kitap Adı - Yazar</title>
  <!-- Yeni eklenen veya düzenlenen CSS  -->
       <style> .border.rounded {
             display: flex;
            justify-content: center; /* Yatayda ortalar */
            align-items: center;     /* Dikeyde ortalar */
            height: 100%;            /* Ebeveyn div'in yüksekliğini kapsar */
            width: 100%;             /* Ebeveyn div'in genişliğini kapsar */
            overflow: hidden;        /* Taşan içeriği gizler */
        }

        .border.rounded img {
          width: 100%;             /* Resmi genişlik boyunca uzatır */
          height: 100%;            /* Yükseklik oranını korur */
          object-fit:cover;       /* Resmin kapsayıcıya tam oturmasını sağlar */
          display: block;          /* Resmi blok seviyesinde gösterir */
          
      }
    </style>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="keywords" />
  <meta content="" name="description" />

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
    rel="stylesheet" />

  <!-- Icon Font Stylesheet -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

  <!-- Libraries Stylesheet -->
  <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Template Stylesheet -->
  <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
  <!-- Spinner Start -->
  <div id="spinner"
    class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
  </div>
  <!-- Spinner End -->
  <!-- Header -->
  <%- include('partials/header', { activePage: '#' }) %>
    <!-- Modal Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Kitap ismi ile ara
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex align-items-center">
            <div class="input-group w-75 mx-auto d-flex">
              <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" />
              <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Search End -->

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5"></div>
    <!-- Single Page Header End -->

    <!-- Single Product Start -->
    <div class="container-fluid py-5 mt-5">
      <div class="container py-5">
        <div class="row g-4 mb-5">
          <div class="col-lg-8 col-xl-9">
            <div class="row g-4">
              <div class="col-lg-6">
                <div class="border rounded border.rounded">
                  <a href="#">
                    <img src="<%= imgURL %>" class="img-fluid rounded" alt="Image" />
                  </a>
                </div>
              </div>
              <div class="col-lg-6">
                <h4 class="fw-bold mb-3"><%= title %></h4>
                <p class="mb-3"><%= author %></p>
                <h5 class="fw-bold mb-3"><%= publisher %></h5>
                <div class="d-flex mb-4">
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star text-secondary"></i>
                  <i class="fa fa-star"></i>
                </div>
                <p class="mb-4">
                  <%- description %>
                </p>

                <a href="#" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i
                    class="me-2 text-primary"></i>
                  Listelerime Ekle</a>
              </div>
                    <div class="px-2">
                      <div class="row g-4">
                        <div class="col-6">
                          <div class="row bg-light align-items-center text-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Çevirmen</p>
                            </div>
                            <div class="col-6">
                              <p class="mb-0">Levent Cinemre</p>
                            </div>
                          </div>
                          <div class="row text-center align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Yılı</p>
                            </div>
                            <div class="col-6">
                              <p class="mb-0">2014</p>
                            </div>
                          </div>
                          <div class="row bg-light text-center align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">ISBN</p>
                            </div>
                            <div class="col-6">
                              <p class="mb-0">9786053322122</p>
                            </div>
                          </div>
                          <div class="row text-center align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Genişlik</p>
                            </div>
                            <div class="col-6">
                              <p class="mb-0">12,5</p>
                            </div>
                          </div>
                          <div class="row bg-light text-center align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Yükseklik</p>
                            </div>
                            <div class="col-6">
                              <p class="mb-0">20,5</p>
                            </div>
                          </div>
                          <div class="row text-center align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Sayfa Sayısı</p>
                            </div>
                            <div class="col-6">
                              <p class="mb-0">448 (DÜZELTİLECEKKKKK) </p>
                            </div>
                          </div>
                          <div class="row bg-light text-center align-items-center justify-content-center py-2">
                            <div class="col-6">
                              <p class="mb-0">Dil</p>
                            </div>
                            <div class="col-6">
                              <p class="mb-0">Türkçe BU DA DÜZELTİLECEK</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                    <div class="d-flex">
                      <img src="img/avatar.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px"
                        alt="" />
                      <div class="">
                        <p class="mb-2" style="font-size: 14px">
                          March 24, 2024
                        </p>
                        <div class="d-flex justify-content-between">
                          <h5>kitap_severr</h5>
                          <div class="d-flex mb-3">
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                        <p>
                          Hayatımda okuduğum ve en çok etkilendiğim ilk 3
                          kitabın arasında yerini aldı. Kitabı elinizden
                          bırakmadan okuyorsunuz. Olağanüstü bir eser olmuş.
                        </p>
                      </div>
                    </div>
                    <div class="d-flex">
                      <img src="img\avatar.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px"
                        alt="" />
                      <div class="">
                        <p class="mb-2" style="font-size: 14px">
                          July 10, 2023
                        </p>
                        <div class="d-flex justify-content-between">
                          <h5>bheabde</h5>
                          <div class="d-flex mb-3">
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                        <p class="text-dark">
                          Bu yaz okuduğum en güzel kitaptı. 
                          Bu yazarın geri kalan kitaplarını da okumak için sabırsızlanıyorum.
                        </p>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <form action="#">
                <h4 class="mb-5 fw-bold">Sen ne düşünüyorsun?</h4>
                <div class="row g-4">

                  <div class="col-lg-12">
                    <div class="border-bottom rounded my-4">
                      <textarea name="" id="" class="form-control border-0" cols="30" rows="8"
                        placeholder="Yorumunu buraya yaz *" spellcheck="false"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="d-flex justify-content-between py-3 mb-5">
                      <div class="d-flex align-items-center">
                        <p class="mb-0 me-3">Puanla</p>
                        <div class="d-flex align-items-center" style="font-size: 20px">
                          <i class="fa fa-star text-muted"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                      <a href="#" class="btn border border-secondary text-primary rounded-pill px-4 py-3">
                        Yorumunu Paylaş</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4 col-xl-3">
            <div class="row g-4 fruite">
              <div class="col-lg-12">
                <div class="input-group w-100 mx-auto d-flex mb-4">
                  <input type="search" class="form-control p-3" placeholder="Kitap adı girin"
                    aria-describedby="search-icon-1" />
                  <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>

              </div>
            </div>

            <div class="col-lg-12">
              <div class="position-relative">
                <img ="img/yazar-route.jpg" class="img-fluid w-100 rounded" alt="" />
                <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%)">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1 class="fw-bold mb-0">Benzer Kitaplar</h1>
      <div class="vesitable">
        <div class="owl-carousel vegetable-carousel justify-content-center">
          <div class="border border-primary rounded position-relative vesitable-item">
            <div class="vesitable-img">
              <img ="img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="" />
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px">
              Vegetable
            </div>
            <div class="p-4 pb-0 rounded-bottom">
              <h4>Parsely</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod te incididunt
              </p>
              <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold">$4.99 / kg</p>
                <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i
                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                  cart</a>
              </div>
            </div>
          </div>
          <div class="border border-primary rounded position-relative vesitable-item">
            <div class="vesitable-img">
              <img ="img/vegetable-item-1.jpg" class="img-fluid w-100 rounded-top" alt="" />
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px">
              Vegetable
            </div>
            <div class="p-4 pb-0 rounded-bottom">
              <h4>Parsely</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod te incididunt
              </p>
              <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold">$4.99 / kg</p>
                <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i
                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                  cart</a>
              </div>
            </div>
          </div>
          <div class="border border-primary rounded position-relative vesitable-item">
            <div class="vesitable-img">
              <img ="img/vegetable-item-3.png" class="img-fluid w-100 rounded-top bg-light" alt="" />
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px">
              Vegetable
            </div>
            <div class="p-4 pb-0 rounded-bottom">
              <h4>Banana</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod te incididunt
              </p>
              <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>
                <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i
                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                  cart</a>
              </div>
            </div>
          </div>
          <div class="border border-primary rounded position-relative vesitable-item">
            <div class="vesitable-img">
              <img ="img/vegetable-item-4.jpg" class="img-fluid w-100 rounded-top" alt="" />
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px">
              Vegetable
            </div>
            <div class="p-4 pb-0 rounded-bottom">
              <h4>Bell Papper</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod te incididunt
              </p>
              <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>
                <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i
                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                  cart</a>
              </div>
            </div>
          </div>
          <div class="border border-primary rounded position-relative vesitable-item">
            <div class="vesitable-img">
              <img ="img/vegetable-item-5.jpg" class="img-fluid w-100 rounded-top" alt="" />
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px">
              Vegetable
            </div>
            <div class="p-4 pb-0 rounded-bottom">
              <h4>Potatoes</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod te incididunt
              </p>
              <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>
                <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i
                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                  cart</a>
              </div>
            </div>
          </div>
          <div class="border border-primary rounded position-relative vesitable-item">
            <div class="vesitable-img">
              <img ="img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="" />
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px">
              Vegetable
            </div>
            <div class="p-4 pb-0 rounded-bottom">
              <h4>Parsely</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod te incididunt
              </p>
              <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>
                <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i
                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                  cart</a>
              </div>
            </div>
          </div>
          <div class="border border-primary rounded position-relative vesitable-item">
            <div class="vesitable-img">
              <img ="img/vegetable-item-5.jpg" class="img-fluid w-100 rounded-top" alt="" />
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px">
              Vegetable
            </div>
            <div class="p-4 pb-0 rounded-bottom">
              <h4>Potatoes</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod te incididunt
              </p>
              <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>
                <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i
                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                  cart</a>
              </div>
            </div>
          </div>
          <div class="border border-primary rounded position-relative vesitable-item">
            <div class="vesitable-img">
              <img ="img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="" />
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px">
              Vegetable
            </div>
            <div class="p-4 pb-0 rounded-bottom">
              <h4>Parsely</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod te incididunt
              </p>
              <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold">$7.99 / kg</p>
                <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i
                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                  cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- Single Product End -->

    <!-- Footer -->
    <%- include(footer) %>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</body>

</html>