<!-- Navbar start -->
<div class="container-fluid fixed-top">
    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3">
                    <i class="fas fa-map-marker-alt me-2 text-secondary"></i>
                    <a href="#" class="text-white">Bursa,Türkiye</a>
                </small>
                <small class="me-3">
                    <i class="fas fa-envelope me-2 text-secondary"></i>
                    <a href="#" class="text-white">Btu@edu.tr</a>
                </small>
            </div>
            <div class="top-link pe-2">
                <a href="login.html" class="text-white">
                    <small class="text-white mx-2">Giriş Yap</small>
                </a>
                /
                <a href="signup.html" class="text-white">
                    <small class="text-white mx-2">Üye Ol</small>
                </a>
            </div>
        </div>
    </div>
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a href="index" class="navbar-brand">
                <h1 class="logo"><strong>KitAPI</strong></h1>
            </a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="index" class="nav-item nav-link <%= activePage === 'home' ? 'active' : '' %>">Anasayfa</a>
                    <a href="kitaplik" class="nav-item nav-link <%= activePage === 'books' ? 'active' : '' %>">Kitaplar</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle <%= activePage === 'lists' ? 'active' : '' %>" data-bs-toggle="dropdown">Listelerim</a>
                        <div class="dropdown-menu m-0 bg-secondary rounded-0">
                            <a href="cart" class="dropdown-item">Okudum</a>
                            <a href="cart" class="dropdown-item">Okuyorum</a>
                            <a href="cart" class="dropdown-item">Okuyacağım</a>
                        </div>
                    </div>
                    <a href="prompt" class="nav-item nav-link <%= activePage === 'ask' ? 'active' : '' %>">KitAPI'ye sor</a>
                    <a href="contact" class="nav-item nav-link <%= activePage === 'contact' ? 'active' : '' %>">İletişim</a>
                </div>
                <div class="d-flex m-3 me-0">
                    <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal">
                        <i class="fas fa-search text-primary"></i>
                    </button>
                    <a href="chackout" class="my-auto" id="signup2">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
